/* basic paragraph and list styling for tab contents*/
.info h1{background:#ffe399;font-size:1em;line-height:1.2em;font-weight:700;padding:1px;margin:10px 0 0;text-transform:uppercase;}
.info h2, .parttype h2{border-bottom:1px dotted #CCC;font-size:1.2em;font-weight:400;margin-bottom:0;padding:8px 0 1px;}
.info h4{font-size:1em;padding-top:3px;padding-bottom:3px;margin:0;font-weight:700;text-align:center;}
.info {background:none;background-color:#fff;padding:10px 0;display:block;overflow:auto;}
.info ul{margin-top:10px;margin-bottom:0;margin-left:0;}
/*.info li{list-style-image:url(../images/bullet-green.gif);padding-bottom:5px;display:list-item;clear:none;padding-top:0;padding-right:0;padding-left:0;list-style-position:inside;}*/
.info p{margin:0;margin:0;display:block;vertical-align:baseline;}
#leftNav ul{background-color:#fff;margin:0;padding:0;}
.orangetext{color:#ff6a11;}
a.tn{margin:0;}

/* information tab divs */
.overview {background:red;}
.features {background:blue;}
.specifications {background: green;}

/* to be used where two divs are side by side*/
#leftcont{float:left;width:50%;}
#rightcont{float:right;width:50%;}
#cont{float:none;}

/* info tables will have this style */
.info a:before{content:"\00BB \0020";}
.info a{display:inline;line-height:1em;padding:0;color:#538815;border-left:none;font-weight:400;font-size:1em;text-decoration:underline;}
.info a:hover{background-color:#91d93c;color:#444;border:none;}
.info table{margin-top:0;margin-bottom:15px;font-size:1em;}
.info td{border:1px solid #fff;padding:5px;}
.info th{background:#bcbcbc url(/images/thead.gif) repeat-x scroll 0 0;font-weight:700;padding-bottom:5px;padding-top:5px;padding-left:5px;padding-right:15px;}
#modelInfo .info tr{background:#fff none;}
.info tr{background:#fff url(/images/trbg.gif) repeat-x scroll 0 0;background-color:#fff;}
.info tr:hover{background:#fff url(/images/trbghv.gif) repeat-x scroll 0 0;}
.info table li{margin:0;padding:0;}
.info table ul{margin:0;padding:0;background:none;}
.info table thead td{background:#bcbcbc url(/images/thead.gif) repeat-x scroll 0 0;font-weight:700;padding-bottom:5px;padding-top:5px;padding-left:5px;padding-right:15px;}
.tablehead{background:#bcbcbc url(/images/thead.gif) repeat-x scroll 0 0;font-weight:700;padding-bottom:5px;padding-top:5px;padding-left:5px;padding-right:15px;}
.parttype{background:none;clear:both;float:none;}
.parttype li{list-style:none;height:auto;background:none;line-height:1.3em;}
.parttype li:hover{background:none;}
.parttype table{padding-right:10px;margin:5px 0;font-size:1em;}
.parttype td{border:1px solid #fff;padding:2px 5px;}
.parttype th{background:#bcbcbc url(/images/thead.gif) repeat-x scroll 0 0;font-weight:700;padding-bottom:5px;padding-top:5px;padding-left:5px;padding-right:15px;}
.parttype table li{margin:0;padding:0;}
.parttype table ul{margin:0;padding:0;background:none;}
.parttype tr{background:#fff url(/images/trbg.gif) repeat-x scroll 0 0;background-color:#fff;}
.parttype tr:hover{background:#fff url(/images/trbghv.gif) repeat-x scroll 0 0;}
.parttype table thead td,.parttype .tablehead{background:#bcbcbc url(/images/thead.gif) repeat-x scroll 0 0;font-weight:700;padding:2px 5px;}

/*overview page table styling*/
h5{font-size:1.5em;padding:0;margin:0;font-weight:400;}
h6{font-size:1em;padding-top:3px;margin:0;font-weight:400;}
table{border-collapse:collapse;border-style:none;/*font-family: Verdana, Geneva, sans-serif;*/color:#252525;font-size:1em;}
th,td{border-right-width:1px;border-left-width:1px;border-top-style:none;border-right-style:solid;border-bottom-style:none;border-left-style:solid;border-right-color:#fff;border-left-color:#fff;padding:10px;}
th{background-color:#b2b2b2;text-align:left;}
tr{font-size:1em;}


